# =================
# IGNORE EVERYTHING
# =================
*
# =============
# ALLOW FOLDERS
# =============
!*/
# ==========
# ALLOW CODE
# ==========
!.cargo/config.toml
!*.hip
!*.rs
!.gitattributes
!.gitignore
!LICENSE
!README.md
!Cargo.toml